
a,h1,h2,time,p {
	margin: 0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
	font-weight: 800;
}
.dates, .plane, .video, .album, .buy{
	background: url(../image/sprites.png) no-repeat;
	padding: 0;
	margin-top: 18px;
	margin-bottom: 83px;
	margin-left: 27px;
	width: 78px;
	height: 79px;
}

.dates{
	background-position: -3px -197px ;
}

.plane{
	background-position: -97px -100px ;
}

.video{
	background-position: 0 -98px ;
}

.album{
	background-position: -96px 0;
}

.buy{
	background-position: -1px 0;
}

.long
{
	min-height:727px;
}
.long_p
{
	height: 850px;
}
.long_p2{
	height: 2000px;
}
.up {
	margin: -1000px 0 0 50px;
	padding: 0;
}
.rider{
	height: 550px;
}
.arrow
{
	
}
.arrow:after
{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent; 
}
.arrow.before
{
	width: 13px;
	height: 8px;
	background: #111;
	margin-top: 8px;
	margin-left: 10px;  
}
.arrow.before:after
{
	top: 3px;
	right: 14px;
	border: 9px solid transparent;
	border-right-color: #111;
}
.arrow.next
{
	width: 13px;
	height: 8px;
	background: #111;
	margin-top: 8px;
	margin-left: 1px;  
}
.arrow.next:after
{
	top: 3px;
	right: -8px;
	border: 9px solid transparent;
	border-left-color: #111;
}
a.before
{
	left: 410px;
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: 0px;
}
a.next
{

	right: 60px;
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: 0px;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #000000;
}

h1
{
	padding-top: 37px;
	padding-left: 50px;
	font-size: 28pt;
	line-height: 20px;
}

h2
{
	padding-top: 40px;
	padding-left: 50px;
	font-size: 28px;
}

time
{
	float: left;
	width: 60px;
	padding-left: 17px;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
}

html
{
	margin: 0;
	padding: 0;
	background-color: #eaeaea;
}

body
{
	width: 842px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 10px;
}

#overlay
{
	display: none;
	cursor: pointer;
}
#overlay.show
{
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
	background-color: rgba(0,0,0,.7);
	overflow: hidden;
}
#msgbox
{
	display: none;
}
#msgbox.show
{
	background: #fff;
	margin: 0 auto;
	width: 80%;
	height: calc(100% - 30px);
	z-index: 300;
	position: fixed;
	display: block;
	top: 10px;
	bottom: 20px;
	left: 0;
	right: 0;
}

#msgbox.mediaVideo
{
	background: #000;
	width: 800px;
	height: 480px;
	margin-top: 40px;
}

#mediaTitle
{
	font-family: 'Exo 2', sans-serif;
	font-size: 11px;
	margin: 12px 15px;
	float: left;
	font-weight: bold;
}
#mediaTitleDiv
{
	height: 40px;
	width: 100%;
}
#msgbox.mediaVideo > #mediaTitleDiv > .close-link,#msgbox.mediaVideo > #mediaTitleDiv > span
{
	color: #888;
}
#msgbox.mediaVideo > #mediaTitleDiv > .close-link:hover
{
	background: #111;
}
.close-link
{
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	float: right;
	font-size: 11px;
	padding: 12px 15px 0px;
	box-sizing: border-box;
	height: 40px;
}

.close-link:hover
{
	background-color: #bab8b8;
}
#upOver
{
	top: 0;
	height: 40%;
	width: 100%;
	cursor: pointer;
	position: fixed;
}
#lMedia:after
{
	display: none;
}
#rMedia,#lMedia
{
	display: block;
	position: fixed;
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: background .33s, transform .1s;
}
#rMedia:before,#rMedia:after,#lMedia.show:after
{
	content: "";
	border-color: #aaa;
	display: block;
	position: absolute;
	width: 0;
	height: 0;
}
#lMedia
{
	top: 30px;
	left: 30px;
}
#lMedia.show:after
{
	border: 13px solid transparent;
	border-right-color: #aaa;
	background: none;
left: 9px;
top: 2px;
}
#lMedia.show.a:after
{
	border-right-color: #fff;
}
#rMedia
{
	top: 30px;
	right: 40px;	
}
#rMedia.right:after
{
	border: 13px solid transparent;
	border-left-color: #aaa;
	background: none;
	left: 9px;
	top: 2px;
	width: 0;
	height: 0;
	transform: none;
}
#rMedia.right.a:after
{
	border-left-color: #fff;
	background: none;
}
#rMedia.right.a:before
{
	content: none;
}
#rMedia.a:after,#rMedia.a:before
{
	background: #fff
}
#rMedia:before
{
	height: 14%;
	width: 90%;
	transform: rotate(45deg);
	top: 40%;
	left: 2.5%;
	background: #aaa
}
#rMedia:after
{
	height: 14%;
	width: 90%;
	transform: rotate(-45deg);
	top: 40%;
	left: 2.5%;
	border: none;
	background: #aaa
}
#content-box
{
	text-align: center;
	background: url(../image/loading.gif) no-repeat center;
	min-height: 250px;
	width: 100%;
	height: calc(100% - 40px);
}
#msgbox.mediaVideo #content-box
{
	background: unset;
}
#content-box > img
{
	visibility: hidden;
	max-width: calc(100% - 20px);
	max-height: calc(100% - 10px);
}
.mediaPhoto, .photoAlbum, .videoPreview
{
	background: #eee;
	float: left;
	overflow: hidden;
	position: relative;
}
.mediaPhoto
{
	width: 130px;
	height: 87px;
	margin: 12px;
}
.mediaPhoto > img
{
	position: relative;
}
.photoAlbum, .videoPreview
{
	width: 227px;
	height: 150.5px;
	margin: 2px;
	position: relative;
}
.photoAlbum > div, .videoPreview > div
{
	position: absolute;
	bottom: 0px;
	height: 2em;
	text-overflow: ellipsis;
	height: 30px;
	font-size: 10px;
	font-family: tahoma;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	top: 0px;
	width: 100%;
	margin-top: 120.5px;
	padding: 10px 5px;
	box-sizing: border-box;
}

html > body > main
{
	float: left;
	width: 522px;
	min-height: 546px;
	margin-top: 36px;
	margin-right: 30px;
	margin-left: 30px;
	background-color: #e4e4e4;
}

html > body > main p
{
	font-family: arial,sans-serif;
	font-size: 18px;
}

html > body > header
{
	width: 842px;
	height: 144px;
	margin: auto;
	background-color: #e4e4e4;
}

html > body > header img
{
	float: left;
	width: 123px;
	height: 123px;
	margin-top: 10px;
	margin-left: 27px;
}

html > body > header > nav > a, html > body > header > nav > span
{
	float: left;
	padding: 60px 7px;
	font-size: 18px;
}
header > nav > span, header > nav > a.a
{
	color: #f95252;
	font-family: 'Exo 2', sans-serif;
	font-weight: 800;
}

html > body > header > nav > button
{
	display: none;
}

html > body > header > nav > a[href$=".html"]:hover
{
	color: #414040;
	background: #bab8b8;
}

html > body > aside
{
	position: static;
	float: left;
	width: 130px;
	min-height: 546px;
	margin-top: 36px;
	background-color: #e4e4e4;
	border: none;
}

html > body > aside > p
{
	padding-top: 40px;
	margin-left: 5px;
	width: 120px;

	text-align: center;
}


.button{
	height: 272px;
}
.button p{
    padding-top: 40px;
    margin-left: 5px;
    width: 120px;
    text-align: center;

}
.button > a
{
	display: block;
	height: 273px;
}
.button:hover{
    color: #414040;
    background: #bab8b8;
}



html > body > footer
{
	float: left;

	width: 842px;
	height: 73px;
	margin: 58px auto;

	background-color: #e4e4e4;
}

footer>nav>a{
	background: url(../image/icons/sprites.png) no-repeat;
	margin-top: 24px;
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 14.32%;
}

[href^="http://yo"]{
	background-position: -96px 0;
}

[href^="http://in"]{
	background-position: -73px 0;
}

[href^="http://la"]{
	background-position: -49px 0;
}

[href^="http://tw"]{
	background-position: -24px 0;
}

[href^="http://vk"]{
	background-position: 0 0;
}
html > body > main.news
{
	position: relative;
	padding-bottom: 30px;
	box-sizing: border-box;
}
html > body > main.news h2
{
	float: left;
	width: 420px;
	font-size: 28px;
	text-align: center;
}

html > body > main.news p
{
	margin: auto;
	padding-top: 78px;
	padding-right: 20px;
	padding-left: 90px;
	font-family: arial,sans-serif;
	font-size: 16px;
}
html > body > main.concert
{
	position: relative;
}
html > body > main.concert p
{
	padding-top: 12px;
	padding-bottom: 20px;
	padding-left: 50px;
}

html > body > main.concert table
{
	float: left;

	padding-top: 18px;
	padding-left: 32px;
	padding-bottom: 5px;

	border-spacing: 18px 26px;
}

html > body > main.concert > table tr td
{
	font-family: arial,sans-serif;
	font-size: 18px;

}

html > body > main.albums img
{
	margin-top: 46px;
	margin-left: 50px;
}

html > body > main.albums p
{
	padding-left: 92px;
}

html body main.media
{
	padding-bottom: 30px;
	padding-left: 30px;
	box-sizing: border-box;
}
html body main.media_p
{
	box-sizing: border-box;
	padding: 0px 20px;
}
html body main.media_p > h1
{
	line-height: unset;
	font-size: 20px;
	padding: 0;
	margin: 20px 0 10px 10px;
}
html body main.media_p2
{
	padding-bottom: 10px;
}
html > body > main.media_p2 img
{
	width: 180px;
	height: 117px;
	margin-top: 40px;
	margin-left: 50px;
}
html > body > main.media_p2 img.high {
	width: 180px;
	height: 276px;
	margin-top: 40px;
	margin-left: 50px;

}
html > body > main.media_p img
{
	width: 130px;
}

html > body > main.media img
{
	max-width: 227px;
}

html > body > main.merch img
{
	margin-top: 50px;
	margin-left: 50px;
}

html > body > main.merch p
{
	padding-left: 50px;
	padding-bottom: 30px;
}

html > body > main.about p
{
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
}

html > body > main.about img
{
	width: 107px;
	height: 161px;
	margin-top: 50px;
	margin-left: 50px;

}

html > body > main.bio img
{
	width: 107px;
	height: 161px;
	margin-top: 50px;
	margin-left: 50px;
}

html > body > main.bio p
{
	float: right;
	width: 299px;
	height: 159px;
	padding-top: 50px;
	padding-right: 50px;
	font-family: arial,sans-serif;
	font-size: 16px;
}
html > body > main.contacts{
	height: 550px;
	padding-left: 50px
}
html > body > main.contacts p
{
	float: left;
	padding-top: 5px;
}

html > body > main.contacts a
{
	font-family: arial,sans-serif;
	font-size: 18px;
	text-decoration: underline;
}
html > body > main.contacts h2, html > body > main.contacts h1
{
	padding-left: 0;
}

html > body > main.fourohfour > article
{
	margin: 0px 30px;
}


/* Clearfix */
.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix
{
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix
{
	height: 1%;
}

.clearfix
{
	display: block;
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url(http://fonts.gstatic.com/s/exo2/v2/_yeyO5FlfE2FZh25hTeRLvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

.loading,.loading:before,.loading:after
{
	content: "";
	width: 1px;
	height: 1px;
	border-radius: 50%;
	background-color: #FFF;
	z-index: 56;
	position: absolute;
}
.loading
{
	left: 65px;
	top: 43px;
	transform: scale 0;
	animation: loading 1.8s .6s infinite linear;
}
.loading:before
{
	right: 20px;
	box-shadow: 0px 0px 0px 2px #FFF;
	animation: loading 1.8s infinite linear;
}
.loading:after
{
	left: 20px;
	box-shadow: 0px 0px 0px 7px #FFF;
	animation: loading 1.8s 1.2s infinite linear;
}
@keyframes loading {
	from, 80%, to   { box-shadow: 0px 0px 0px 2px #FFF; }
	50% { box-shadow: 0px 0px 0px 5px #FFF; }
}